<template>
  <section class="editorPage">
  	<mu-container>
	  	<div class="ql-snow">
	  		<mu-form :model="form" ref="form" label-width="100">
	  			<mu-form-item label="Title" prop="title" :rules="emptyRules">
			      <mu-text-field v-model="form.title" prop="title"></mu-text-field>
			    </mu-form-item>
	  		</mu-form>
		  	<div id="editor"></div>
		  	<div class="SubmitBtnBlock">
			  <mu-button color="primary" @click="submit" v-bind:disabled="loading">Add</mu-button>
		  	</div>
	  	</div>
  	</mu-container>
  </section>
</template>

<script>
import Quill from 'quill';
import { ImageUpload } from 'quill-image-upload';
import EventBus from '~/plugins/EventBus';

Quill.register('modules/imageUpload', ImageUpload);

let toolbarOptions = [
  ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
  ['blockquote', 'code-block'],

  ['sizeTitle',{ 'size': ['small', 'large', 'huge'] }],  // custom dropdown
  ['AlignTitle',{'align': ['','right','center'] }],
  ['clean','image'],
];
export default {
  data(){
  	return{
  		quill:null,
  		emptyRules: [
        	{ validate: (val) => val, message: "Couldn't be empty"},
        ],
        form:{
        	title:'',
        	htmlContent:'',
        }
  	}
  },
  components: {
  },
  mounted(){
  	this.init();
  },
  methods:{
  	init(){
	  	this.quill = new Quill("#editor",{
	  		modules: {
	  			toolbar:toolbarOptions,
		  		imageUpload: {
		  			checkBeforeSend: (file, next) => {
						var reader = new FileReader();
						reader.onloadend = function() {
						  let decoration = "data:"+file.type+";base64,";
						  next({image:reader.result.slice(decoration.length),type:file.type.split('/')[1]});
						}
						reader.readAsDataURL(file);
					},
					customUploader: (req,next) => {
						this.$api.uploadImage(req).then(res=>{
							next(res.data.data);
						});
					}, 
				}
	  		},
	  	});
	  	setTimeout(()=>{
	  		document.querySelectorAll(".ql-toolbar option")
	  		.forEach((item)=>{
	  			item.innerHTML = item.value;
	  		});
	  		if(this.$route.params.uid){
				this.$api.GetArticleById(this.$route.params.uid).then(res=>{
					if(res.data.code==1000){
						this.quill.root.innerHTML = res.data.data.htmlContent;
						this.form.title = res.data.data.title;
					}
				})
		  	}else{
		  		this.$router.push('/portal/article/list/1');
		  	}
	  	},100);
  	},
  	submit(){
  		this.form.htmlContent = this.quill.root.innerHTML;
  		this.$api.AddArticle(this.form).then(res=>{
  			if(res.data.code==1000){
  				EventBus.$emit('alert',{message:"Article has saved!",callback:()=>{
  					this.$router.push('/portal/article/list/1')
  				}})
  			}
  		})
  	}
  }
}
</script>