<template>
  <section class="ListPage">
  	<mu-container>
	  <h1>Account</h1>
  	  <div class="addBlock">
	  	  <mu-button color="primary" :to="'/portal/system/account/add/'">Add</mu-button>
  	  </div>
	  <mu-paper :z-depth="1">
	    <mu-data-table :columns="columns" :data="list">
	      <template slot-scope="scope">
	        <td>{{scope.row.user}}</td>
	        <td>{{scope.row.email}}</td>
	        <td>{{scope.row.name}}</td>
	        <td class="is-center">
  	        <mu-button icon color="primary" v-on:click="DelAccount(scope.row.uid)">
  			      <mu-icon value="delete_outline"></mu-icon>
  			    </mu-button>
  	    	</td>
	        <td class="is-center" v-on:click="EditAccount(scope.row.uid)">
	        	<mu-button icon color="primary">
			      <mu-icon value="edit"></mu-icon>
			    </mu-button>
	        </td>
	      </template>
	    </mu-data-table>
	  </mu-paper>
	  <br>
	  <br>
	  <mu-flex justify-content="center">
	    <mu-pagination raised circle :total.sync="totalPage" page-size="1" :current.sync="currentPage" v-on:change="pageChange"></mu-pagination>
	  </mu-flex>
	</mu-container>
  </section>
</template>

<script>

export default {
  data(){
  	return {
      columns: [
          { title: 'User name', name: 'user', width: '20%' },
          { title: 'Email', name: 'email', width: '30%' },
          { title: 'Full name', name: 'name', width: '30%'},
          { title: 'Remove', name: 'uidRemove', width: '10%', align: 'center' },
          { title: 'Edit', name: 'uid', width: '10%', align: 'center' },
      ],
      list: [],
      currentPage:1,
      totalPage:0,
  	}
  },
  mounted(){
    console.log(this)
  	this.renderList();
  },
  methods: {
  	renderList(){
  		this.currentPage = this.$route.params.page || 1;
  		this.$api.GetAccountList(this.currentPage).then(res=>{
	  		if(res.data.code==1000){
	  			this.currentPage = res.data.data.currentPage;
	  			this.totalPage = res.data.data.totalPage;
	  			this.list = res.data.data.dataList;
	  		}
	  	})
  	},
  	pageChange(page){
  		this.$router.push('/portal/system/account/list/'+page);
  		this.renderList();
  	},
  	DelAccount(uid){
      this.$confirm('Are you sure to delete it？', 'Operation Confirm', {
        type: 'warning',
        okLabel: 'OK',
        cancelLabel: 'Cancel', 
      }).then(({ result }) => {
        if (result) {
          this.$api.DeleteAccount(uid).then(()=>{
            this.renderList();
          })
        }
      });
    },
  	EditAccount(uid){
  		this.$router.push('/portal/system/account/edit/'+uid);
  	},
  }
}
</script>