.loginPage{
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;
}
.loginPage .loginFrame{
	max-width: 768px;
	width: 50%;
}
.loginPage .loginFrame > div{
	padding: 40px;
	background-color: #fff;
	box-shadow: 1px 1px 12px rgba(0,0,0,0.2);
}

.portalGrid{
	display: grid;
    grid: 80px 1fr / 200px 1fr;
    min-height:100vh; 
}
.portalGrid .portalHead{
    grid-area: 1 / 1 / 2 / 3;
}
.portalGrid .portalSideMenu{
    grid-area: 2 / 1 / 3 / 2;
    background-color: #fff;
}
.portalGrid .portalSideMenu .mu-elevation-1{
	box-shadow: none;
}
.portalGrid .portalMain{
    grid-area: 2 / 2 / 3 / 3;
}
.portalGrid .mu-table table{
	width: 100%;
}
.portalGrid .ListPage{}
.portalGrid .ListPage .addBlock{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 20px;
}
.portalGrid .FormPage{}
.portalGrid .FormPage .formPadding{
	padding: 20px;
}
.portalGrid .FormPage .SubmitBtnBlock,
.portalGrid .editorPage .SubmitBtnBlock{
	display: flex;
	margin: 20px;
	align-items: center;
	justify-content: center;
}
.portalGrid .editorPage .ql-editor{
	min-height: 600px;
    border: 1px solid #eee;
}
.portalGrid .editorPage .ql-toolbar{
	background-color: #fff;
}
.portalGrid .editorPage .ql-toolbar button:after{
    font-family: 'Material Icons';
}
.portalGrid .editorPage .ql-toolbar button.ql-bold:after{
	content: 'format_bold';
}
.portalGrid .editorPage .ql-toolbar button.ql-italic:after{
	content: 'format_italic';
}
.portalGrid .editorPage .ql-toolbar button.ql-underline:after{
	content: 'format_underlined';
}
.portalGrid .editorPage .ql-toolbar button.ql-strike:after{
	content: 'format_strikethrough';
}
.portalGrid .editorPage .ql-toolbar button.ql-blockquote:after{
	content: 'format_quote';
}
.portalGrid .editorPage .ql-toolbar button.ql-code-block:after{
	content: 'code';
}
.portalGrid .editorPage .ql-toolbar button.ql-image:after{
	content: 'add_photo_alternate';
}
.portalGrid .editorPage .ql-toolbar button.ql-clean:after{
	content: 'format_clear';
}
.portalGrid .editorPage .ql-toolbar button.ql-underline:after{
	content: 'format_underlined';
}
.portalGrid .editorPage .ql-toolbar button.ql-sizeTitle{
    padding: 0;
    width: 75px;
    height: 23px;
    text-align: right;
    padding-right: 5px;
    pointer-events: none;
    font-size: 12px;
}
.portalGrid .editorPage .ql-toolbar button.ql-sizeTitle:before{
	content: 'Font Size';
}
.portalGrid .editorPage .ql-toolbar button.ql-AlignTitle{
    padding: 0;
    width: 60px;
    height: 23px;
    text-align: right;
    padding-right: 5px;
    pointer-events: none;
    font-size: 12px;
}
.portalGrid .editorPage .ql-toolbar button.ql-AlignTitle:before{
	content: 'Align';
}
.portalGrid .editorPage .ql-toolbar button{
	font-size: 20px;
	height: 35px;
}