<template>
  <mu-dialog title="Dialog" width="360" :open.sync="openSimple">
    {{message}}
    <mu-button slot="actions" flat color="primary" @click="closeSimpleDialog">Close</mu-button>
  </mu-dialog>
</template>

<script type="text/javascript">
  import EventBus from '~/plugins/EventBus';
  export default {
    data () {
      return {
        openSimple: false,
        message:"this is simple Dialog",
        callback:null,
      };
    },
    mounted(){
      EventBus.$on("alert",(option)=>{
        this.message = option.message;
        this.callback = option.callback;
        this.openSimpleDialog();
      })
    },
    methods: {
      openSimpleDialog () {
        this.openSimple = true;
      },
      closeSimpleDialog () {
        this.openSimple = false;
        if(this.callback){
          this.callback();
        }
      }
    }
  }
</script>
