<template>
  <div class="portalSideMenu">
    <mu-paper :z-depth="1">
       <mu-list toggle-nested>
        <mu-list-item
        v-for="menu of Menu"
        button
        :ripple="false"
        nested
        :open="open === menu.nasted"
        @toggle-nested="open = (open!=menu.nasted)?menu.nasted : ''">
          <mu-list-item-action>
            <mu-icon v-bind:value="menu.icon"></mu-icon>
          </mu-list-item-action>
          <mu-list-item-title>{{menu.title}}</mu-list-item-title>
          <mu-list-item-action>
            <mu-icon class="toggle-icon" size="24" value="keyboard_arrow_down"></mu-icon>
          </mu-list-item-action>
          <mu-list-item button slot="nested" v-for="sub of menu.subMenu" v-bind:to="sub.href">
            <mu-list-item-title>{{sub.title}}</mu-list-item-title>
          </mu-list-item>
        </mu-list-item>
      </mu-list>
    </mu-paper>
  </div>
</template>

<script type="text/javascript">
  export default {
    data () {
      return {
        Menu:[
          {
            title:'Article',
            icon:'reorder',
            nasted:'article',
            subMenu:[
              {
                title:'Article List',
                href:'/portal/article/list/1',
              },
              {
                title:'Add new article',
                href:'/portal/article/add/',
              }
            ]
          },
          {
            title:'System',
            icon:'dvr',
            nasted:'system',
            subMenu:[
              {
                title:'Accounts',
                href:'/portal/system/account/list/1',
              }
            ]
          },
        ],
        open:'system',
      };
    },
    mounted(){
      this.open = this.$route.path.split('/')[2];
    },
    methods: {
    }
  }
</script>
