<template>
  <div>
	  <div class="portalGrid">
	  	<div class="portalHead">
	  		<mu-appbar style="width: 100%;" color="primary">
			  Admin Jersey
			  <mu-menu slot="right">
			    <mu-button flat><mu-icon value="menu"></mu-icon></mu-button>
			    <mu-list slot="content">
			      <mu-list-item button :href="'/login'">
			        <mu-list-item-content>
			          <mu-list-item-title>Logout</mu-list-item-title>
			        </mu-list-item-content>
			      </mu-list-item>
			    </mu-list>
			  </mu-menu>
			</mu-appbar>
	  	</div>
	  	<side-menu-component></side-menu-component>
	  	<div class="portalMain">
		    <nuxt />
	  	</div>
	  </div>
	  <alert-component></alert-component>
  </div>
</template>
<script type="text/javascript">
import SideMenuComponent from "~/components/SideMenuComponent"
import AlertComponent from "~/components/AlertComponent"

export default {
	components:{
		SideMenuComponent,
		AlertComponent,
	}
}
</script>