<template>
  <div>
    <nuxt />
    <alert-component></alert-component>
  </div>
</template>
<script type="text/javascript">
	import AlertComponent from '~/components/AlertComponent'

	export default {
		components:{AlertComponent},
	}
</script>