<template>
  <section class="loginPage">
    <div class="loginFrame">
      <div>
        <mu-form ref="form" :model="validateForm" class="mu-demo-form">
          <mu-form-item label="User Name / Email" prop="username" :rules="usernameRules">
            <mu-text-field v-model="validateForm.username" prop="username"></mu-text-field>
          </mu-form-item>
          <mu-form-item label="Password" prop="password" :rules="passwordRules">
              <mu-text-field type="password" v-model="validateForm.password" prop="password"></mu-text-field>
          </mu-form-item>
          <mu-button color="primary" @click="submit" v-bind:disabled="loading">Sign in</mu-button>
        </mu-form>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  layout:'login',
  data () {
    return {
      usernameRules: [
        { validate: (val) => val, message: "User name couldn't be empty"},
      ],
      passwordRules: [
        { validate: (val) => val, message: "Password couldn't be empty"},
      ],
      validateForm: {
        username: '',
        password: '',
        isAgree: false
      },
      loading:false,
    }
  },
  mounted(){
    this.$api.RemoveUser();
  },
  methods: {
    submit () {
      this.loading = true;
      this.$refs.form.validate()
      .then((result) => {
        if(result){
          this.$api.Login({user:this.validateForm.username,password:this.validateForm.password})
          .then((res)=>{
            this.loading = false;
            if(res.data.code==1000){
              this.$router.push('/portal/');
            }
          })
        }else{
          this.loading = false;
        }
      })
    },
  }
}
</script>

