<template>
  <section class="FormPage">
  	<mu-container>
  	  <h1>Add New Account</h1>
	  <mu-paper :z-depth="3">
	  	<div class="formPadding">
	  	 <mu-form :model="form" ref="form" label-width="100">
	      <mu-select label="Role" v-model="form.role" full-width>
	        <mu-option v-for="option,index in options" :key="option" :label="option.text" :value="option.value"></mu-option>
	      </mu-select>
	  	 	<mu-form-item label="User name" prop="user" :rules="emptyRules">
		      <mu-text-field v-model="form.user" prop="user"></mu-text-field>
		    </mu-form-item>
		    <mu-form-item label="Fullname" prop="name" :rules="emptyRules">
		      <mu-text-field v-model="form.name" prop="name"></mu-text-field>
		    </mu-form-item>
		    <mu-form-item label="Email" prop="email" :rules="emptyRules">
		      <mu-text-field v-model="form.email" prop="email"></mu-text-field>
		    </mu-form-item>
		    <mu-form-item label="Phone" prop="phone" :rules="emptyRules">
		      <mu-text-field v-model="form.phone" prop="phone"></mu-text-field>
		    </mu-form-item>
		    <mu-form-item label="Password" prop="newPassword" :rules="emptyRules">
		      <mu-text-field type="password" v-model="form.newPassword" prop="newPassword"></mu-text-field>
		    </mu-form-item>
	  	 </mu-form>
	  	</div>
	  </mu-paper>
	  <div class="SubmitBtnBlock">
		  <mu-button color="primary" @click="submit" v-bind:disabled="loading">Add</mu-button>
	  </div>
      </mu-form>
	</mu-container>
  </section>
</template>

<script>

export default {
  data(){
  	return {
  		emptyRules: [
        	{ validate: (val) => val, message: "Couldn't be empty"},
        ],
  		form:{
  			user:'',
  			name:'',
  			email:'',
  			phone:'',
  			newPassword:'',
  		},
  		options:[],
  		loading:false,
  	}
  },
  mounted(){
  	this.$api.GetRoles().then(res=>{
  		this.options = res.data.data;
  	})
  },
  methods: {
  	submit () {
      this.loading = true;
      this.$refs.form.validate()
      .then((result) => {
        if(result){
        	this.$api.AddAccount(this.form).then(res=>{
        		if(res.data.code==1000){
        			this.$router.push('/portal/system/account/list/1');
        		}
        		this.loading = false;
        	})
        }else{
          this.loading = false;
        }
      })
    },
  }
}
</script>